 @import url("fonts.css");
 @import url("reset.css");

 .conteiner {
 	max-width: 800px;
 	margin: 0 auto;
 }

 .date {
 	color: #4A3AFF;
 	font-family: "DM Sans";
 	font-size: 20px;
 	font-style: bold;
 	font-weight: 700;
 	line-height: 22px;
 }

 .description {
 	color: #6E6C83;
 	font-family: "DM Sans";
 	font-size: 24px;
 	font-style: normal;
 	font-weight: 400;
 	line-height: 42px;
 	width: 629.692px;
 }

 h2 {
 	color: #1E1B39;
 	font-family: "DM Sans";
 	font-size: 42px;
 	font-style: normal;
 	font-weight: 700;
 	line-height: 54px;
 }

 .timeline__item:nth-child(1) h2:nth-of-type(1)::after {
 	background: url("../img/emoji.png") center / cover no-repeat;
 	content: "";
 	width: 30px;
 	height: 30px;
 	margin-left: 10px;
 }

 .timeline__item:nth-child(2) h2:nth-of-type(1)::after {
 	background: url("../img/leptop.png") center / cover no-repeat;
 	content: "";
 	width: 30px;
 	height: 30px;
 	margin-left: 10px;
 }

 .timeline__item:nth-child(3) h2:nth-of-type(1)::after {
 	background: url("../img/rocket.png") center / cover no-repeat;
 	content: "";
 	width: 30px;
 	height: 30px;
 	margin-left: 10px;
 }

 .timeline__item {
 	margin-block-end: 54px;
 }

 .date,
 h2,
 .description {
 	margin-block-end: 8px;
 }

 .plan__pricihg {
 	margin: 0 auto;
 	max-width: 800px;
 }

 .plan {
 	display: inline-block;
 	border-radius: 56px;
 	background: #F0F0F6;
 	width: 542.983px;
 	height: 617px;
 	margin: 0 auto;
 }

 .pricing__plan {
 	display: inline-block;
 	border-radius: 34px;
 	background: #4A3AFF;
 	width: 494.98px;
 	height: 271.17px;
 	margin: 24px;
 	flex-direction: column;
 	align-items: center;
 	display: inline-flex;
 	align-items: center;
 	padding-inline: 139px;
 	padding-block: 45px;
 	margin-block-end: 34px;
 }

 .plan__title {
 	color: #FFF;
 	text-align: center;
 	font-family: "DM Sans";
 	font-size: 30px;
 	font-style: normal;
 	font-weight: 700;
 	line-height: 32px;
 }

 .plan_price {
 	color: #FFF;
 	text-align: center;
 	font-family: "DM Sans";
 	font-size: 116px;
 	font-style: normal;
 	font-weight: 700;
 	line-height: 120px;
 	padding-block-end: 6px;
 }

 .plan__billing__period {
 	color: #FFF;
 	text-align: center;
 	font-family: "DM Sans";
 	font-size: 20px;
 	font-style: normal;
 	font-weight: 700;
 	line-height: 22px;
 	opacity: 0.6;
 }

 .plan__features {
 	color: #1E1B39;
 	font-family: "DM Sans";
 	font-size: 28px;
 	font-style: normal;
 	font-weight: 700;
 	line-height: 38px;
 	padding-left: 37px;

 }

 .plan__feature__item {
 	background: url("../img/Check\ Circle.png") no-repeat;
 	padding-left: 57px;
 	padding-bottom: 26px;
 }


 .conteiner__img {
 	margin-bottom: 76px;
 }

 .conteiner__text {
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 	max-width: 1500px;
 	background: #fff5f0;
 	margin: 0 auto;
 }

 .intro__h2 {
 	color: #391400;
 	font-family: "Epilogue";
 	font-size: 20px;
 	font-style: normal;
 	font-weight: 400;
 	line-height: 32px;
 	width: 570px;
 	height: 66px;
 	margin-bottom: 32px;
 }

 .promote__product__h2 {
 	color: #391400;
 	font-family: "Epilogue";
 	font-size: 24px;
 	font-style: normal;
 	font-weight: 700;
 	line-height: 32px;
 	margin-block-start: 51px;
 	margin-block-end: 35px;
 }

 .intro___p,
 .promote__product__p,
 .promote__product__p,
 .service__help_p,
 .service__help__li__p,
 .block__quote__p,
 .end__text__p {
 	color: rgba(57, 20, 0, 0.64);
 	font-family: "Epilogue";
 	font-size: 16px;
 	font-style: normal;
 	font-weight: 400;
 	line-height: 32px;
 	width: 570px;
 	flex-shrink: 0;
 }

 .promote__product__ul {
 	color: #391400;
 	font-family: "Epilogue";
 	font-size: 16px;
 	font-style: normal;
 	font-weight: 400;
 	line-height: 32px;
 	margin-block: 34px;
 }

 .promote__product__li::before {
 	background: url(../img/oval.png)center /cover no-repeat;
 	padding-left: 8px;
 	content: "";
 	width: 8px;
 	height: 8px;
 	display: inline-block;
 	margin-right: 16px;
 	/*  Зробить befor */
 }

 .service__help__h2 {
 	color: #391400;
 	font-family: "Epilogue";
 	font-size: 24px;
 	font-style: normal;
 	font-weight: 700;
 	line-height: 32px;
 	margin-block-start: 64px;
 	margin-block-end: 35px;
 }

 .service__help__ol {
 	margin-block-start: 28px;
 	margin-block-end: 32px;

 }

 .service__help__li {
 	color: #391400;
 	font-family: "Epilogue";
 	font-size: 16px;
 	font-style: normal;
 	font-weight: 400;
 	line-height: 32px;
 }

 .block__quote {
 	width: 570px;
 	height: 176px;
 	flex-shrink: 0;
 	border-radius: 6px;
 	background: #F9E5DA;
 	margin-block-start: 69px;
 	margin-block-end: 76px;
 	padding-inline-start: 32px;
 	padding-inline-end: 32px;
 	padding-block-start: 42px;
 	padding-block-end: 32px;
 }

 .block__quote__text {
 	background: url(../img/shape.png) left top / 48px no-repeat;
 }

 .block__quote__p {
 	/* width: 426px; */
 	/* height: 102px; */
 	flex-shrink: 0;
 	color: #391400;
 	font-family: "Epilogue";
 	font-size: 20px;
 	font-style: normal;
 	font-weight: 400;
 	line-height: 32px;
 	padding-inline-start: 80px;
 }
