@import url("fonts.css");
@import url("reset.css");
/* 1440 944 */
@import url("https://fonts.googleapis.com/css?family=Epilogue:regular,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Manrope:regular,600,700&display=swap");

.title-dz {
   text-align: center;
   font-family: "Manrope", sans-serif;
   font-size: 58px;
   font-style: normal;
   font-weight: 700;
   margin-bottom: 50px;
}

.blok {
   max-width: 1700px;
   /* height: 550px; */
   background-color: #FDF0E9;
   /* overflow: hidden;
   min-height: 100%; */
}

.text-features {
   color: var(--Text_Dark_Accent, #EF6D58);
   font-feature-settings: 'liga' off, 'clig' off;
   /* H5 */
   font-family: "Epilogue";
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 32px;
   /* 200% */
   letter-spacing: 3px;
   text-transform: uppercase;
   width: 93px;
   /* height: 31px; */
   margin-bottom: 20px;
   margin-top: 75px;
}

.title {
   color: var(--Text_Dark, #391400);
   font-feature-settings: 'liga' off, 'clig' off;
   /* H2 */
   font-family: "Epilogue";
   font-size: 56px;
   font-style: normal;
   font-weight: 800;
   line-height: 64px;
   /* 114.286% */
   /* letter-spacing: -1px; */
   width: 397px;
   /* height: 128px; */
   margin-bottom: 26px;
}

.text_big {
   color: var(--Text_Dark, #391400);
   font-feature-settings: 'liga' off, 'clig' off;
   /* Text_Big */
   font-family: "Epilogue";
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: 32px;
   /* 160% */

   /* height: 72px; */
   margin-bottom: 26px;
}

.ul-text {
   color: var(--Text_Dark_Gray, rgba(57, 20, 0, 0.64));
   font-feature-settings: 'liga' off, 'clig' off;
   /* Text */
   font-family: "Epilogue";
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 32px;
   /* 200% */
   /* width: 245px;
   height: 32px; */
}

.blok-text {
   display: inline-block;
   margin-left: 135px;
   /* padding-top: 269px; */
   margin-right: 170px;
   width: 470px;
}

.li-text {
   background: url("../img/check.svg");
   background-repeat: no-repeat;
   padding-left: 48px;
   padding-bottom: 16px;
}

/* 528.7 191 */
.blok-img {
   display: inline-block;
   width: 528.7px;
   vertical-align: top;
}

/* -------------------- */
/* 1920 1103 */
.black-blok {
   max-width: 1920px;
   background-color: black;
}

.icon-centr {
   min-height: 860px;
   background: url("..//img/abstract.png") center / 470px no-repeat, url("..//img/container.png") center / cover no-repeat;
   /* background-color: black; */
}

.black-title {
   color: var(--Absolute-White, #FFF);
   text-align: center;
   font-family: "Manrope";
   font-size: 58px;
   font-style: normal;
   font-weight: 700;
   line-height: 150%;
   margin-top: -50px;
   margin-bottom: 14px;
}

.p-black-text {
   max-width: 1920px;
   color: var(--Grey-60, #999);
   text-align: center;
   font-family: "Manrope";
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 150%;
   padding-left: 412px;
   padding-right: 412px;
   margin-bottom: 50px;
}

.button-knopka {
   font-family: "Manrope", sans-serif;
   background: var(--Red-45, #E50000);
   padding: 18px 24px 18px 24px;
   border-radius: 8px;
   color: #FFF;
   font-size: 18px;
   font-weight: 600;

}

.button-knopka span {
   background: url("../img/icon.svg") left /24px no-repeat;
   padding-left: 28px;
   min-height: 52px;
}

.button {
   text-align: center;
}

/* .black-title, .p-black-text {
   background-color: black;
} */